@font-face {
    font-family: "Good Brush";
    src: url(assets/font/Good\ Brush.otf);
}

@font-face {
    font-family: "HelveticaNeueBold";
    src: url(assets/font/helvetica-neue-5/HelveticaNeueBold.otf);
}

@font-face {
    font-family: "HelveticaNeueLight";
    src: url(assets/font/helvetica-neue-5/HelveticaNeueLight.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cursive-font: "Good Brush", cursive;
    --body-font: "HelveticaNeueLight", sans-serif;
    --heading-font: "HelveticaNeueBold", sans-serif;

    --font-size-body: clamp(1rem, 0.3836rem + 0.722vw, 1.25rem); 
    --font-size-heading: clamp(2.8125rem, 2.042rem + 0.9025vw, 3.125rem);
    --font-size-cta: clamp(1.4375rem, 1.1293rem + 0.361vw, 1.5625rem);
    --font-size-section-heading: clamp(2.375rem, 1.2963rem + 1.2635vw, 2.8125rem);


    --font-size-links: clamp(0.90625rem, 0.3669rem + 0.6318vw, 1.125rem);
    --font-size-cursive-heading: clamp(3.4375rem, 1.8964rem + 1.8051vw, 4.0625rem);
    --font-size-ultimate-film-line: clamp(2.1875rem, 1.417rem + 0.9025vw, 2.5rem);
}

body {
    max-width: 1920px;
    margin: 0 auto;
    background-color: rgb(53, 49, 49);
}

.hero {
    aspect-ratio: 16/8.2;
    /* border: 4px solid papayawhip; */
    width: 100%;
    /* height: 100vh; */
    position: relative;
    overflow: hidden;
}

.hero__banner-img-one {
    position: absolute;
    /* border: 4px solid rgb(244, 162, 20); */
    height: 100%;
    width: 100%;
    z-index: 1;
}

.hero_main_img {
    /* position: absolute; */
    /* top: 0;     
    left: 0;     */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__first__layer-content-wrapper {
    position: absolute;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    /* border: 3px solid blue; */
}


.love_your_self-wrapper {
    /* position: absolute; */

    font-family: var(--cursive-font);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: .8;
    /* border: 2px solid red; */
    /* max-width: 1900px; */
    width: 100%;
    max-width: 70%;

    /* height: 100%;
    width: 100%; */

    /* margin-top: 10rem; */
    transform: rotate(-6deg);
    /* gap: 5rem; */
    padding: 4.5% 5%;
    margin: 0 auto;
}


.love_your_self-wrapper>p:first-child {
    align-self: flex-start;
}


.love,
.rig {
    /* 1920 to 1366 - 13 to 9 rem */
    /* font-size: clamp(10rem, 2.6029rem + 8.6643vw, 13rem); */
    font-size: 13rem;
    font-size: clamp(9rem, -0.8628rem + 11.5523vw, 13rem);
    color: red;
    display: inline-block;
}

.your {
    /* font-size: 8rem; */
    /* 1920 to 1366 8 to 6 rem */
font-size: clamp(6rem, 1.0686rem + 5.7762vw, 8rem);
    /* transform: rotate(-6deg); */
    display: inline-block;

}

.rig {
    /* transform: rotate(-6deg); */
    display: inline-block;
    align-self: flex-end;
    /* margin-left: 50rem; */
}

.hero_logo-img,
.hero_lovecars-logo {
    /* max-width: 15rem; */
    height: clamp(2.1875rem, -0.8946rem + 3.6101vw, 3.4375rem);
    width: auto;
}

.hero_logo-img {
    /* max-width: 11rem; */
}

.hero__bannar-img-two-wrapper {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    /* top: 0; */
}

.hero_layer_two-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: top; */
}



.hero__sunshine_image-wrapper {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 20%;
    right: -20;
    z-index: 4;
    /* border: 1px solid red; */
    mix-blend-mode: screen;

}

.hero_sunshine_image {
    width: 100%;
    height: 100%;
    /* mix-blend-mode:screen; */



}

.hero__last__layer-content-wrapper {
    position: absolute;
    z-index: 5;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: 2.5fr .5fr .5fr;
    /* Aligns all items to the bottom of the container */
    align-items: start;
}

.hero_adlogo-wrapper {
    padding: 0 clamp(4.25rem, -6.2292rem + 12.2744vw, 8.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 80%; */
    width: 100%;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding-top: 3rem;
}

.hero__footer__heading {
    font-family: var(--heading-font);
    color: white;
    text-align: center;
    font-size: var(--font-size-heading);

}

.hero__footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    color: white;
    padding: 0 clamp(4.25rem, -6.2292rem + 12.2744vw, 8.5rem);
    font-size: var(--font-size-body);
    font-family: var(--body-font);
    line-height: 1.3;


}

.hero_grad {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.897) 100%);
    z-index: 2;
}

.hero_footer-content {
    /* border: 1px solid red; */
    max-width: 75%;
}

.cta {
    display: flex;
    align-items: center;
    background: none;
    /* Removes default button grey */
    gap: 1rem;
    font-size: var(--font-size-cta);
    border: none;
    /* Removes default button border */
    font-family: var(--body-font);
    color: white;
}

.cta img {
    width: clamp(1.6rem, 0.6137rem + 1.1552vw, 2rem);
    height: auto;
}

.drivebold {
    /* border: 2px solid rgb(16, 169, 32); */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* 1920 to 1366 - 136 to 68 px  */
    padding: clamp(4.25rem, -6.2292rem + 12.2744vw, 8.5rem) clamp(4.25rem, -6.2292rem + 12.2744vw, 8.5rem);
    position: relative;
    /* border: 2px solid red; */
    /* padding: 5rem 0; */
}

.drivebold_banner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


.drivebold_banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: top; */
}




.drivebold_content_wrapper {
    /* border: 2px solid red; */
    z-index: 2;
    position: relative;
    max-width: 36%;
    color: white;

    /* height: 100%; */
}

.drivebold_content-heading {
    font-family: var(--heading-font);
    font-size: var(--font-size-heading);
    /* margin-bottom: 1rem; */
}

.drivebold_content-heading h2:first-child {
    font-family: var(--cursive-font);
    color: red;
    transform: rotate(-3deg);
    font-size: var(--font-size-cursive-heading);
}

.drivebold_content-heading h2:nth-child(2) {
    font-family: var(--heading-font);
    color: white;
    /* transform: rotate(-3deg); */
    white-space: nowrap;
    font-size: var(--font-size-section-heading);
    align-self: flex-end;
}

.drivebold_content-body {
    font-family: var(--body-font);
    font-size: var(--font-size-body);
    line-height: 1.3;

}

.drivebold_content-heading {
    display: flex;
    flex-direction: column;
}

.drivebold_content_wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, -1.9314rem + 5.7762vw, 5rem);
}

.drivebold_grad {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.97) 0%, rgba(14, 14, 14, 0.079) 100%);
    /* z-index: 1; */
}

.ultimatefilm_main-wrapper {
    /* border: 2px solid red; */
    color: white;
    background: rgb(0, 0, 0);
    padding: 0 clamp(4.25rem, -6.2292rem + 12.2744vw, 8.5rem);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.ultimatefilm_heading-wrapper h3 {
    font-family: var(--body-font);
    font-size: var(--font-size-ultimate-film-line);
    /* font-size: var(--font-size-section-heading); */
    text-align: center;
    padding-top: 3rem;

}

.ultimatefilm_heading-wrapper h2 {
    font-family: var(--heading-font);
    /* font-size: 60px; */
    font-size: var(--font-size-heading);
    text-align: center;
    /* transform: rotate(-3deg); */
}

.ultimatefilm_car-mid-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ultimatefilm_car-image-wrapper {
    width: 50%;
    /* border: 2px solid red; */

}

.ultimate_car_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ultimate-links {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: clamp(1rem, -1.4657rem + 2.8881vw, 2rem);
    padding: clamp(3rem, -1.9314rem + 5.7762vw, 5rem) 0;
}

.ultimate-links div {
    display: flex;
    align-items: center;
    gap: clamp(1rem, -1.4657rem + 2.8881vw, 2rem);
    font-size: var(--font-size-links);
    font-family: var(--body-font);
}

.ultimate-links div p {
    color: white;
    /* max-width: 50%; */

}

.ultimate-links div img {
    width: clamp(3rem, 0.5343rem + 2.8881vw, 4rem);
    height: 4rem;
}

.ultimate-links :nth-child(4) img {
    width: clamp(3rem, 0.5343rem + 2.8881vw, 4rem);
    height: clamp(2rem, -0.4657rem + 2.8881vw, 3rem);

}

.ultimatefilm_footer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 1rem; */
}

.ultimatefilm_footer-content {
    color: #BFBFBF;
    font-family: var(--body-font);
    font-size: var(--font-size-body);
    max-width: 60%;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
}

.ultimatefilm_footer-images-wrapper {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-top: 1rem;
}

.ultimatefilm_footer-images-wrapper img {
    width: 75%;
    /* height: 4rem; */
}

.ultimatefilm_footer-images-wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ultimatefilm_footer-images-wrapper div p {
    color: white;
    font-family: var(--body-font);
    font-size: var(--font-size-links);
    /* border: 1px solid red; */
    max-width: 84%;
    text-align: center;
}

.getready {
    /* border: 2px solid red; */
    width: 100%;
    aspect-ratio: 16/8.2;
    position: relative;
}

.getready_background_img-wrapper {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    left: 0;
}

.getready_bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.4);
}

.getready {
    position: relative;
}

.getready_video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5% clamp(4.25rem, -6.2292rem + 12.2744vw, 8.5rem);

    display: flex;
    justify-content: center;
    align-items: center;

}

.getready_video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.5);
}

.getready_content {
    position: absolute;
    z-index: 10;
    text-align: center;
    /* border: 2px solid red; */
    color: white;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}


.getready_title {
    font-family: var(--heading-font);
    font-size: var(--font-size-heading);
    width: 100%;
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.getready_expeditions {
    display: block;
    font-family: var(--cursive-font);
    color: red;
    font-size: var(--font-size-cursive-heading);
    transform: rotate(-3deg);
    margin-top: -10px;
}

.getready_expeditions {
    align-self: flex-end;
    transform: rotate(-3deg);
}


.getready_desc {
    font-family: var(--body-font);
    font-size: var(--font-size-body);
    line-height: 1.4;
    max-width: 84%;
    color: #BFBFBF;
}

.getready_button {
    margin-top: 1rem;
    /* gap: 1rem; */
}


.footer {
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 5% clamp(4.25rem, -6.2292rem + 12.2744vw, 8.5rem);
    width: 100%;
    /* border-top: 1px solid rgb(181, 230, 4); Optional subtle divider */
}

.footer_main-wrapper {
    display: grid;
    /* 1.7fr for the first column, 1fr for the rest */
    grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr;
    gap: 3rem;
    align-items: start;
    max-width: 100%;
}

.footer__logo-description {
    /* Explicitly defining grid start and end as requested */
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2; */

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer_logo-img {
    /* max-width: 14rem; */
    height: auto;
    width: 50%;
}

.footer_description-text {
    font-family: var(--body-font);
    font-size: var(--font-size-links);
    color: white;
    line-height: 1.5;
    max-width: 85%;
}

.footer__attribute-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__attribute-list a {
    font-family: var(--body-font);
    font-size: var(--font-size-links);
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}



.footer_link {
    text-decoration: none;
    color: white;
}