@font-face {
    font-family: "Good Brush";
    src: url(assets/font/Good\ Brush.otf);
}

@font-face {
    font-family: "HelveticaNeueBold";
    src: url(assets/font/helvetica-neue-5/HelveticaNeueBold.otf);
}

@font-face {
    font-family: "HelveticaNeueLight";
    src: url(assets/font/helvetica-neue-5/HelveticaNeueLight.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cursive-font: "Good Brush", cursive;
    --body-font: "HelveticaNeueLight", sans-serif;
    --heading-font: "HelveticaNeueBold", sans-serif;

    --font-size-body: clamp(1rem, 0.3836rem + 0.722vw, 1.25rem);
    --font-size-heading: clamp(2.8125rem, 2.042rem + 0.9025vw, 3.125rem);
    --font-size-cta: clamp(1.4375rem, 1.1293rem + 0.361vw, 1.5625rem);
    --font-size-section-heading: clamp(2.375rem, 1.2963rem + 1.2635vw, 2.8125rem);


    --font-size-links: clamp(0.90625rem, 0.3669rem + 0.6318vw, 1.125rem);
    --font-size-cursive-heading: clamp(3.4375rem, 1.8964rem + 1.8051vw, 4.0625rem);
    --font-size-ultimate-film-line: clamp(1.25rem, 0.6818rem + 1.5152vw, 2.5rem);
    ;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    background-color: rgb(53, 49, 49);
}

.hero {
    aspect-ratio: 16/8.2;
    /* border: 4px solid papayawhip; */
    width: 100%;
    /* height: 100vh; */
    position: relative;
    overflow: hidden;
}

.hero__banner-img-one {
    position: absolute;
    /* border: 4px solid rgb(244, 162, 20); */
    height: 100%;
    width: 100%;
    z-index: 1;
}

.hero_main_img {
    /* position: absolute; */
    /* top: 0;     
    left: 0;     */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__first__layer-content-wrapper {
    position: absolute;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    /* border: 3px solid blue; */
}


.love_your_self-wrapper {
    /* position: absolute; */

    font-family: var(--cursive-font);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: .8;
    /* border: 2px solid red; */
    /* max-width: 1900px; */
    width: 100%;
    max-width: 70%;

    /* height: 100%;
    width: 100%; */

    /* margin-top: 10rem; */
    transform: rotate(-6deg);
    /* gap: 5rem; */
    /* padding: 4.5% 5%; */

    /* 1920 to 1024 padding */
    padding: clamp(3.2rem, 1.1429rem + 3.2143vw, 5rem) 5%;
    margin: 0 auto;
}


.love_your_self-wrapper>p:first-child {
    align-self: flex-start;
}


.love,
.rig {
    /* 1920 to 1366 - 13 to 9 rem */
    font-size: 13rem;
    font-size: clamp(9rem, -0.8628rem + 11.5523vw, 13rem);
    color: red;
    display: inline-block;
}

.your {
    /* font-size: 8rem; */
    /* 1920 to 1366 8 to 6 rem */
    font-size: clamp(6rem, 1.0686rem + 5.7762vw, 8rem);
    /* transform: rotate(-6deg); */
    display: inline-block;

}

.rig {
    /* transform: rotate(-6deg); */
    display: inline-block;
    align-self: flex-end;
    /* margin-left: 50rem; */
}

@media (max-width:1500px) {
    .hero {
        aspect-ratio: 16/9;
    }
}

@media (max-width:1366px) {

    .love,
    .rig {
        font-size: clamp(6.5rem, -0.9854rem + 11.6959vw, 9rem);
    }

    .your {
        font-size: clamp(4.5rem, 0.0088rem + 7.0175vw, 6rem);
    }

    :root {
        --font-size-body: clamp(0.875rem, 0.5007rem + 0.5848vw, 1rem);
        --font-size-cta: clamp(1.125rem, 0.1893rem + 1.462vw, 1.4375rem);
        --font-size-heading: clamp(2.1875rem, 0.3162rem + 2.924vw, 2.8125rem);
        --font-size-section-heading: clamp(1.375rem, 0.9609rem + 1.6563vw, 2.375rem);
        --font-size-cursive-heading: clamp(3.125rem, 2.1893rem + 1.462vw, 3.4375rem);

        --font-size-links: clamp(0.6875rem, 0.0325rem + 1.0234vw, 0.90625rem);
    }

}


.hero_logo-img,
.hero_lovecars-logo {
    /* max-width: 15rem; */
    height: clamp(1.7875rem, -0.8946rem + 3.6101vw, 3.4375rem);
    width: auto;
}

.hero_logo-img {
    /* max-width: 11rem; */
}

.hero__bannar-img-two-wrapper {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    /* top: 0; */
}

.hero_layer_two-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: top; */
}



.hero__sunshine_image-wrapper {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 20%;
    right: -20;
    z-index: 4;
    /* border: 1px solid red; */
    mix-blend-mode: screen;

}

.hero_sunshine_image {
    width: 100%;
    height: 100%;
    /* mix-blend-mode:screen; */



}

.hero__last__layer-content-wrapper {
    position: absolute;
    z-index: 5;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: 2.5fr .5fr .6fr;
    /* Aligns all items to the bottom of the container */
    align-items: start;
}

.hero_adlogo-wrapper {
    padding: 0 clamp(2.25rem, -0.5909rem + 7.5758vw, 8.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 80%; */
    width: 100%;
    /* border: 1px solid red; */
    margin: 0 auto;
    /* padding top 3 to 2 rem - 1920 to 1024 px */
    padding-top: clamp(1rem, 0.0909rem + 2.4242vw, 3rem);
    ;
}

.hero__footer__heading {
    font-family: var(--heading-font);
    color: white;
    text-align: center;
    font-size: var(--font-size-heading);

}

.hero__footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    color: white;
    padding: 0 clamp(2.25rem, -0.5909rem + 7.5758vw, 8.5rem);
    font-size: var(--font-size-body);
    font-family: var(--body-font);
    line-height: 1.3;


}

.hero_grad {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    z-index: 2;
}

.hero_footer-content {
    /* border: 1px solid red; */
    max-width: 75%;
}

.cta {
    display: flex;
    align-items: center;
    background: none;
    /* Removes default button grey */
    gap: 1rem;
    font-size: var(--font-size-cta);
    border: none;
    /* Removes default button border */
    font-family: var(--body-font);
    white-space: nowrap;
    color: white;
}

.cta img {
    width: clamp(.6rem, 0.6137rem + 1.1552vw, 2rem);
    height: auto;
}

@media (max-width:1024px) {

    .hero {
        aspect-ratio: 16/13.2;
    }

    .love,
    .rig {
        font-size: clamp(4rem, 0.4623rem + 9.434vw, 6.5rem);
    }

    .your {
        font-size: clamp(2.5rem, 2.0849rem + 3.7736vw, 4.5rem);
    }

    .love_your_self-wrapper {
        /* position: absolute; */

        padding: clamp(4.2rem, 11.2rem + -12.5vw, 3.2rem) 5%;
        /* margin-top: 8%; */

    }

    .hero_footer-content {
        max-width: 60%;
    }


    :root {
        --font-size-heading: clamp(1.275rem, 0.9375rem + 1.9531vw, 2.1875rem);
        --font-size-cursive-heading: clamp(1.7rem, -0.7995rem + 6.1321vw, 3.125rem);
        /* --font-size-section-heading: clamp(1.625rem, 1.2783rem + 0.9245vw, 1.87rem); */




    }

}

@media screen and (max-width:600px) {
    .hero_adlogo-wrapper {
        /* padding: 0 clamp(1.25rem, -6.2292rem + 12.2744vw, 8.5rem); */

    }

    .hero {
        aspect-ratio: 9/13;
    }

    .hero__footer {
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1rem;

    }

    .hero_footer-content {
        max-width: 100%;
    }

    .cta {
        display: flex;
        justify-content: center;
    }

    .love_your_self-wrapper {
        /* position: absolute; */

        margin-top: 15%;

    }

    .hero__last__layer-content-wrapper {
        grid-template-rows: 3.5fr .5fr .6fr;
    }

    .hero_grad {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 35%;
        background: linear-gradient(to bottom, rgba(92, 96, 92, 0.199) 1%, rgb(0, 0, 0) 100%);
        z-index: 3;
    }



}

@media (max-width:404px) {
    .love_your_self-wrapper
{
    max-width: 85%;
}

.hero_main_img {
    object-position: bottom;
}


.hero_layer_two-img {
    object-position: bottom;
}

    .love_your_self-wrapper {
        /* position: absolute; */

        margin-top: 7%;

    }



}


.drivebold {
    /* border: 2px solid rgb(16, 169, 32); */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* 1920 to 1366 - 136 to 68 px  */
    padding: clamp(4.25rem, -6.2292rem + 12.2744vw, 8.5rem) clamp(4.25rem, -6.2292rem + 12.2744vw, 8.5rem);
    position: relative;
    /* border: 2px solid red; */
    /* padding: 5rem 0; */
}

.drivebold_banner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


.drivebold_banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: top; */
}




.drivebold_content_wrapper {
    /* border: 2px solid red; */
    z-index: 2;
    position: relative;
    max-width: 36%;
    color: white;

    /* height: 100%; */
}

.drivebold_content-heading {
    font-family: var(--heading-font);
    font-size: var(--font-size-heading);
    /* margin-bottom: 1rem; */
}

.drivebold_content-heading h2:first-child {
    font-family: var(--cursive-font);
    color: red;
    transform: rotate(-3deg);
    font-size: var(--font-size-cursive-heading);
}

.drivebold_content-heading h2:nth-child(2) {
    font-family: var(--heading-font);
    color: white;
    /* transform: rotate(-3deg); */
    white-space: nowrap;
    font-size: var(--font-size-section-heading);
    align-self: flex-end;
}

.drivebold_content-body {
    font-family: var(--body-font);
    font-size: var(--font-size-body);
    line-height: 1.3;
    color: #BFBFBF;

}

.drivebold_content-styling {
    margin-top: 1.5rem;
    display: block;
}

@media (max-width:1366px) {

    .drivebold_content-styling {
        margin-top: clamp(1rem, -0.4971rem + 2.3392vw, 1.5rem);
    }

    .drivebold_content_wrapper {
        max-width: 400px
    }
}

.drivebold_content-heading {
    display: flex;
    flex-direction: column;
}

.drivebold_content_wrapper {
    display: flex;
    flex-direction: column;
    /* 1920 to 1024 px */
    gap: clamp(2rem, -1.4286rem + 5.3571vw, 5rem);
}

.drivebold_grad {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);

    /* z-index: 1; */
}

@media (max-width:768px) {
    .drivebold_banner-wrapper {
        position: relative;
    }

    .drivebold {
        flex-direction: column-reverse;
        background: #060606;
        align-items: center;
        padding: 0;
    }

    .drivebold_content_wrapper {
        max-width: 100%;
        padding: 5% clamp(2.25rem, -0.5909rem + 7.5758vw, 8.5rem);
        ;
        align-items: center;

    }

    .drivebold_grad {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 20%;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(8, 8, 8, 0.97) 0%, rgba(14, 14, 14, 0.079) 100%);
        /* z-index: 1; */
    }

    .drivebold_content-heading h2:nth-child(2) {
        align-self: auto;
        padding-left: 3rem;
    }



}

.ultimatefilm_main-wrapper {
    /* border: 2px solid red; */
    color: white;
    background: rgb(0, 0, 0);
    padding: 0 clamp(2.25rem, -0.5909rem + 7.5758vw, 8.5rem);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.ultimatefilm_heading-wrapper h3 {
    font-family: var(--body-font);
    font-size: var(--font-size-ultimate-film-line);
    text-align: center;
    padding-top: 6rem;

}

.ultimatefilm_heading-wrapper h2 {
    font-family: var(--heading-font);
    /* font-size: 60px; */
    /* font-size: var(--font-size-heading); */
    font-size: var(--font-size-section-heading);
    text-align: center;
    /* transform: rotate(-3deg); */
}

.ultimatefilm_car-mid-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ultimatefilm_car-image-wrapper {
    width: 50%;
        height: 100%;

    /* border: 2px solid red; */

}

.ultimate_car_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ultimate-links {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: clamp(1rem, -1.4657rem + 2.8881vw, 2rem);
    padding: clamp(2rem, 0.6364rem + 3.6364vw, 5rem) 0;
}

.ultimate-links div {
    display: flex;
    align-items: center;
    gap: clamp(1rem, -1.4657rem + 2.8881vw, 2rem);
    font-size: var(--font-size-links);
    font-family: var(--body-font);
    height: 3rem;

}

.ultimate-links div p {
    color: white;
    /* max-width: 50%; */

}

.ultimate-links div img {
    width: clamp(2.6rem, 1.9636rem + 1.697vw, 4rem);
    height: 4rem;
}

.ultimate-links :nth-child(4) img {
    width: clamp(3rem, 0.5343rem + 2.8881vw, 4rem);
    height: clamp(2rem, -0.4657rem + 2.8881vw, 3rem);

}

.ultimatefilm_footer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 1rem; */
}

.ultimatefilm_footer-content {
    color: #BFBFBF;
    font-family: var(--body-font);
    font-size: var(--font-size-body);
    max-width: 60%;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
}

.ultimatefilm_footer-images-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
}

.ultimatefilm_footer-images-wrapper img {
    width: 75%;
    /* height: 4rem; */
}

.ultimatefilm_footer-images-wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ultimatefilm_footer-images-wrapper div p {
    color: white;
    font-family: var(--body-font);
    font-size: var(--font-size-links);
    /* border: 1px solid red; */
    max-width: 100%;
    text-align: center;
}

@media (max-width: 768px) {

    .ultimatefilm_car-mid-content-wrapper {
        flex-direction: column;
    }

    .ultimate-links {
        flex-direction: row;
        gap: 2rem;
    }

    .ultimatefilm_heading-wrapper {
        margin-bottom: 2rem;
    }

    .ultimate-links div {
        display: flex;
        flex-direction: column;
    }

    .ultimate-links :nth-child(4) img {
        width: 3rem;
        height: 3rem;

    }


}

.getready {
    /* border: 2px solid red; */
    width: 100%;
    aspect-ratio: 16/8.2;
    position: relative;
}

.getready_background_img-wrapper {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    left: 0;
}

.getready_bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: brightness(.4); */
    mix-blend-mode: multiply;
}

.getready {
    position: relative;
}

.getready_video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5% clamp(2.25rem, -0.5909rem + 7.5758vw, 8.5rem);

    display: flex;
    justify-content: center;
    align-items: center;

}

.getready_video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.5);
}

@media (max-width:600px) {
.getready_video-wrapper {
    width: 100%;
    height: auto;

}

.getready_video {
    width: 100%;
    height: auto;
}


    
}

.getready_content {
    position: absolute;
    z-index: 10;
    text-align: center;
    /* border: 2px solid red; */
    color: white;
    max-width: 800px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.9rem, -0.2818rem + 3.1515vw, 3.5rem);


}


.getready_title {
    font-family: var(--heading-font);
    font-size: var(--font-size-section-heading);
    width: 100%;
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.getready_expeditions {
    display: block;
    font-family: var(--cursive-font);
    color: red;
    font-size: var(--font-size-cursive-heading);
    transform: rotate(-3deg);
    margin-top: -10px;
}

.getready_expeditions {
    align-self: flex-end;
    transform: rotate(-3deg);
}


.getready_desc {
    font-family: var(--body-font);
    font-size: var(--font-size-body);
    line-height: 1.4;
    max-width: 84%;
    color: #BFBFBF;
}

.getready_button {
    margin-top: 1rem;
    /* gap: 1rem; */
}

@media (max-width:768px) {

    .ultimatefilm_footer-images-wrapper img {
        width: 75%;
        height: 4rem;
    }

    .ultimatefilm_footer-images-wrapper {
        display: flex;
        justify-content: center;
        /* gap: 4rem; */
        padding-top: 0rem;
        flex-wrap: wrap;
    }

    .ultimatefilm_footer-content {
        max-width: 80%;
        padding: 2% 0;
    }

    .ultimate-links div p {
        text-align: center;
    }



}

@media (max-width: 600px) {
    .ultimatefilm_footer-content {
        max-width: 100%;
        margin: 5% 0;
    }

    .ultimate-links {
        padding-bottom: 4rem;
    }

}


.footer {
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 5% clamp(2.25rem, -0.5909rem + 7.5758vw, 8.5rem);
    width: 100%;
    /* border-top: 1px solid rgb(181, 230, 4); Optional subtle divider */
}

.footer_main-wrapper {
    display: grid;
    /* 1.7fr for the first column, 1fr for the rest */
    grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr;
    gap: 3rem;
    align-items: start;
    max-width: 100%;
}

.footer__logo-description {
    /* Explicitly defining grid start and end as requested */
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2; */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: clamp(1rem, -1.2857rem + 3.5714vw, 3rem);
}

.footer_logo-img {
    /* max-width: 14rem; */
    height: auto;
    width: 65%;
}

.footer_description-text {
    font-family: var(--body-font);
    font-size: var(--font-size-links);
    color: white;
    line-height: 1.5;
    max-width: 85%;
}

.footer__attribute-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__attribute-list a {
    font-family: var(--body-font);
    font-size: var(--font-size-links);
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}



.footer_link {
    text-decoration: none;
    color: white;
}

@media (max-width:768px) {

    .footer_main-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .footer__logo-description {
        grid-column: 1 / 3;
        max-width: 40%;
        align-items: center;
    }

    .footer_main-wrapper {
        justify-items: center;
    }

    .footer_description-text {
        text-align: center;
    }




}

@media (max-width:600px) {

        .footer__logo-description {
        max-width: 60%;
    }

    
}